@page "/AsesorComentario"

<PageTitle>Comentarios de Asesores</PageTitle>

@using HelpDentsProyecto.Data
@using HelpDentsProyecto.Data.Models
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient http

<div class="tittle">
    <div class="tittle_content">
        <h1>Comentarios de Asesores</h1>
    </div>
    <div class="tittle_btn">
        <a href="/AsesorComentario/add" class="btn btn-success">
        <i class="oi oi-plus"></i>
        &nbsp
        Agregar
        </a>
    </div>
</div>

<p>This component demonstrates fetching data from a service.</p>

@if (AsesorComentarioFor == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>(Id) Asesor</th>
                <th>(Id) Especialidad</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var RecorridoAsesorCom in AsesorComentarioFor.Reverse())
            {
                <tr>
                    <td>@RecorridoAsesorCom.Id</td>
                    @foreach(var RecorridoAsesor in AsesorFor)
                    {
                        if(@RecorridoAsesor.Id == @RecorridoAsesorCom.Asesor_idAsesor)
                        {
                            <td>(@RecorridoAsesor.Id) @RecorridoAsesor.Nombres @RecorridoAsesor.Apellidos</td>
                        }
                    }
                    @foreach(var RecorridoCom in ComentarioFor)
                    {
                        if(@RecorridoCom.Id == @RecorridoAsesorCom.Comentario_IdComentario)
                        {
                            <td>(@RecorridoCom.Id) @RecorridoCom.Id</td>
                        }
                    }

                    <td>
                        <span class="icon">
                            <a href="/AsesorComentario/delete/@RecorridoAsesorCom.Id" class="oi oi-trash" title="Eliminar"></a>
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private readonly string api = $"api/AsesorComentario/all";
    private readonly string api2 = "api/Asesor/all";
    private readonly string api3 = "api/Comentario/all";
    private IList<AsesorHasComentarioModel>? AsesorComentarioFor;
    private IList<AsesorModel>? AsesorFor;
    private IList<ComentarioModel>? ComentarioFor;

    protected override async Task OnInitializedAsync()
    {
        AsesorComentarioFor = await http.GetFromJsonAsync<IList<AsesorHasComentarioModel>>(api);
        AsesorFor = await http.GetFromJsonAsync<IList<AsesorModel>>(api2);
        ComentarioFor = await http.GetFromJsonAsync<IList<ComentarioModel>>(api3);
    }
}

