@page "/AsesorComentario"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage SessionStorage
@inject NavigationManager NavigationManager
@using HelpDentsProyecto.Data
@using HelpDentsProyecto.Data.Models
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient http


@if(sesion == false)
{
    
}
else
{
    <PageTitle>Comentarios de Asesores</PageTitle>



<div class="tittle">
    <div class="tittle_content">
        <h1>Comentarios de Asesores</h1>
    </div>
</div>



@if (AsesorComentarioFor == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>(Id) Asesor</th>
                <th>Comentario Id </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var RecorridoAsesorCom in AsesorComentarioFor.Reverse())
            {
                <tr>
                    <td>@RecorridoAsesorCom.Id</td>
                    @foreach(var RecorridoAsesor in AsesorFor)
                    {
                        if(@RecorridoAsesor.Id == @RecorridoAsesorCom.Asesor_idAsesor)
                        {
                            <td>(@RecorridoAsesor.Id) @RecorridoAsesor.Nombres @RecorridoAsesor.Apellidos</td>
                        }
                    }
                    @foreach(var RecorridoCom in ComentarioFor)
                    {
                        if(@RecorridoCom.Id == @RecorridoAsesorCom.Comentario_IdComentario)
                        {
                            <td>@RecorridoCom.Id</td>
                        }
                    }

                    <td>
                        <span class="icon">
                            <a href="/AsesorComentario/delete/@RecorridoAsesorCom.Id" class="oi oi-trash" title="Eliminar"></a>
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
}



@code {
    private readonly string api = $"api/AsesorComentario/all";
    private readonly string api2 = "api/Asesor/all";
    private readonly string api3 = "api/Comentario/all";
    private IList<AsesorHasComentarioModel>? AsesorComentarioFor;
    private IList<AsesorModel>? AsesorFor;
    private IList<ComentarioModel>? ComentarioFor;
    private ResponseLogin? user;
    private bool sesion = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {

                var result = await SessionStorage.GetAsync<string>("Token");
                string Token = result.Success ? result.Value : "";

                if(Token == "")
                {
                    NavigationManager.NavigateTo("/Login");
                }

                var request = new HttpRequestMessage(HttpMethod.Get, $"api/Login/ValidateToken/{Token}");
                using var httpResponseInitial = await http.SendAsync(request);
                user = await httpResponseInitial.Content.ReadFromJsonAsync<ResponseLogin>();


                    if(user == null)
                    {
                        NavigationManager.NavigateTo("/Login");
                    }
                    else if(user.RolIdRol != 1)
                    {
                        NavigationManager.NavigateTo("/");
                    }
                    else
                    {
                        sesion = true;
                        AsesorComentarioFor = await http.GetFromJsonAsync<IList<AsesorHasComentarioModel>>(api);
                        AsesorFor = await http.GetFromJsonAsync<IList<AsesorModel>>(api2);
                        ComentarioFor = await http.GetFromJsonAsync<IList<ComentarioModel>>(api3);
                        
                    }
                

                StateHasChanged();
                
            }
            catch(Exception ex)
            {
               
            }
        }
        
    }
}

