@page "/Asesor"

<PageTitle>Asesor</PageTitle>

@using HelpDentsProyecto.Data
@using HelpDentsProyecto.Data.Models
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient http

<div class="tittle">
    <div class="tittle_content">
        <h1>Asesor</h1>
    </div>
    <div class="tittle_btn">
        <a href="/Asesor/add" class="btn btn-success">
        <i class="oi oi-plus"></i>
        &nbsp
        Agregar
        </a>
    </div>
</div>

<p>This component demonstrates fetching data from a service.</p>

@if (AsesorFor == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th> Id Usuario</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Costo</th>
                <th>Telefono</th>
                <th>Facebook</th>
                <th>Instagram</th>
                <th>Youtube</th>
                <th>Twitter</th>
                <th>Descripcion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var RecorridoAsesor in AsesorFor.Reverse())
            {
                <tr>
                    <td>@RecorridoAsesor.Id</td>
                    <td> @RecorridoAsesor.UsuarioIdUsuario</td>
                    <td>@RecorridoAsesor.Nombres</td>
                    <td>@RecorridoAsesor.Apellidos</td>
                    <td>@RecorridoAsesor.Costo</td>
                    <td>@RecorridoAsesor.Telefono</td>
                    <td>@RecorridoAsesor.Facebook</td>
                    <td>@RecorridoAsesor.Instagram</td>
                    <td>@RecorridoAsesor.Youtube</td>
                    <td>@RecorridoAsesor.Twitter</td>
                    <td>@RecorridoAsesor.Descripcion</td>
                    <td>
                        <span class="icon">
                            <a href="/Asesor/update/@RecorridoAsesor.Id" class="oi oi-pencil" title="Editar"></a>
                        </span>
                        &nbsp
                        <span class="icon">
                            <a href="/Asesor/delete/@RecorridoAsesor.Id" class="oi oi-trash" title="Eliminar"></a>
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private readonly string api = "api/Asesor/all";
    private IList<AsesorModel>? AsesorFor;

    protected override async Task OnInitializedAsync()
    {
        AsesorFor = await http.GetFromJsonAsync<IList<AsesorModel>>(api);
    }
}