@page "/Asesor"

<PageTitle>Asesor</PageTitle>

@using HelpDentsProyecto.Data
@using HelpDentsProyecto.Data.Models
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient http

<h1>Asesor</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (AsesorFor == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Especialidad</th>
                <th>Turno</th>
                <th>Costo</th>
                <th>Telefono</th>
                <th>Facebook</th>
                <th>Instagram</th>
                <th>Youtube</th>
                <th>Twitter</th>
                <th>Descripcion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var RecorridoAsesor in AsesorFor)
            {
                <tr>
                    <td>@RecorridoAsesor.Nombres</td>
                    <td>@RecorridoAsesor.Apellidos</td>
                    <td>@RecorridoAsesor.Especialidad</td>
                    <td>@RecorridoAsesor.Turno</td>
                    <td>@RecorridoAsesor.Costo</td>
                    <td>@RecorridoAsesor.Telefono</td>
                    <td>@RecorridoAsesor.Facebook</td>
                    <td>@RecorridoAsesor.Youtube</td>
                    <td>@RecorridoAsesor.Twitter</td>
                    <td>@RecorridoAsesor.Descripcion</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private readonly string api = "api/Asesor/all";
    private IList<AsesorModel>? AsesorFor;

    protected override async Task OnInitializedAsync()
    {
        TurnoFor = await http.GetFromJsonAsync<IList<AsesorModel>>(api);
    }
}